assets/tiles/*
assets/maps/*.png
assets/maps/*.tmx
assets/maps/*.html
assets/text/*.txt
assets/text/*.html
assets/test
assets/test/*
assets/*_manual.tsx
assets/yodatiles.png

data/YODESK.DTA
docs/IPUZ*
docs/SNDS*
docs/TNAM*
docs/PUZ2*
docs/CHAR*
docs/ICHA*
docs/IZON*
docs/ZONE*
docs/STUP*

goda-stories
out.txt
reset.sh
