assets/tiles/*.png
assets/maps/*.png
assets/maps/*.html
assets/text/*.txt
assets/text/*.html
assets/test
assets/test/*

data/YODESK.DTA
data/IPUZ*
data/SNDS*
data/TNAM*
data/PUZ2*
data/CHAR*
data/ICHA*
data/IZON*
data/ZONE*
data/STUP*

goda-stories
out.txt
reset.sh
