assets/tiles/*.png
assets/maps/*.png
assets/text/*.txt
assets/text/*.html
assets/test
assets/test/*
data/YODESK.DTA
data/IPUZ*
data/TNAM*
data/PUZ2*
data/CHAR*
data/ICHA*
data/IZON*
data/STUP*
goda-stories
out.txt
reset.sh
